@(brand: List[Brands],types: List[Types],formadd : Form[Products])
@import helper._;
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        @if(flash.containsKey("msgError")) {
            <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("msgError"). </div>
        }
        @helper.form(action = routes.Application.insertProduct(), 'enctype -> "multipart/form-data") {
            @inputText(formadd("id"), '_label -> "รหัสสินค้า", 'size -> "10px", 'required -> "required", 'class -> "form-control")
            @inputText(formadd("name"), '_label -> "ชื่อสินค้า", 'size -> "40px", 'required -> "required", 'class -> "form-control")
            @select(formadd("types.id"),
                options = types.map(typess => typess.getId -> typess.getName),
                '_label -> "ประเภทกล้อง", 'class -> "form-control")
            @select(formadd("brands.id"),
                options = brand.map(brands => brands.getId -> brands.getName),
                '_label -> "ยี่ห้อ", 'class -> "form-control")
            @inputText(formadd("generation"), '_label -> "รุ่น", 'size -> "40px", 'required -> "required", 'class -> "form-control")
            @inputText(formadd("price"), '_label -> "ราคา", 'size -> "10px", 'required -> "required", 'class -> "form-control")
            @inputText(formadd("amount"), '_label -> "จำนวน", 'size -> "จำนวน", 'required -> "required", 'class -> "form-control")
            @textarea(formadd("detail"), '_label -> "รายละเอียด", 'cols -> "60", 'rows -> "5", 'required -> "required", 'class -> "form-control")
            @inputFile(formadd("pic"), '_label -> "รูปสินค้า", 'required -> "required")
            <input type="submit" value="เพิ่มสินค้า" class="btn btn-success">
            <input type="reset" value="เคลียร์" class="btn btn-danger">
            }
    </div>
    <div class="col-md-3"></div>
</div>