@(addtype : Form[Types])
    @import helper._;
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            @if(flash.containsKey("msgError")) {
                <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("msgError"). </div>
            }
            @helper.form(action = routes.Application.insertTypes(), 'enctype -> "multipart/form-data") {
                @inputText(addtype("id"), '_label -> "รหัสประเภทสินค้า", 'size -> "10px", 'required -> "required", 'class -> "form-control")
                @inputText(addtype("name"), '_label -> "ชื่อประเภทสินค้า", 'size -> "40px", 'required -> "required", 'class -> "form-control")
                <input type="submit" value="เพิ่มประเภทสินค้า" class="btn btn-success">
                <input type="reset" value="เคลียร์" class="btn btn-danger">
                }
        </div>
        <div class="col-md-3"></div>
    </div>