@(Datail : Products)
<div class="row" >
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <table class="table ">
            <tr>
                <td colspan="2" align="center"><img src="/assets/images/cscam/@Datail.getPic" width="300px" height="300px" class="thumbnail"><td>
            </tr>
            <tr>
                <th>รหัสสินค้า</th>
                <td>@Datail.getId<td>
            </tr>
            <tr>
                <th>ชื่อสินค้า</th>
                <td>@Datail.getName<td>
            </tr>
            <tr>
                <th>ประเภทสินค้า</th>
                <td>@Datail.getTypes.getName<td>
            </tr>
            <tr>
                <th>ยี่ห้อ</th>
                <td>@Datail.getBrands.getName<td>
            </tr>
            <tr>
                <th>ราคา</th>
                <td>@Datail.getPrice<td>
            </tr>
            <tr>
                <th>จำนวน</th>
                <td>@Datail.getAmount<td>
            </tr>

            <tr>
                <th>รายละเอียด</th>
                <td>@Datail.getDetail  <td>
            </tr>
        </table>


    </div>
    <div class="col-md-1"></div>
</div>