<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8B8B8B" >
    <a class="navbar-brand" href="/mainADmin"><img src="/assets/images/Logo.png" width="200px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/mainADmin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listPayment">รายการสั่งซื้อ</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <i class="material-icons">person</i> @session.get("name") &nbsp;&nbsp;|| &nbsp;<i class="material-icons">supervisor_account</i> Admin&nbsp;&nbsp;&nbsp;
            <a href="/logout"  class="btn btn-outline-dark my-2 my-sm-0">logout</a>
        </form>
    </div>
</nav>
