@(typeslist : List[Types])
<center>
    <h3>รายการประเภทสินค้าทั้งหมด</h3>
    <table class="table table-hover ">
        <tr class="active" align="center">
            <td>ID</td>
            <td>Name</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        @for(pro <- typeslist) {
            <tr>
                <td align="center">@pro.getId</td>
                <td align="center">@pro.getName</td>
                <td align="center"><a href="/editTypes/@pro.getId"><i class="material-icons">edit</i></a></td>
                <td align="center"><a href="/deleteTypes/@pro.getId" onclick="return confirm('คุณต้องการที่จะลบสินค้าตัวนี้ใช่ไหรือไม่')"><i class="material-icons">delete</i></a></td>

            </tr>
        }
    </table>
    <a href="/addTypes"> <button type="button" class="btn btn-primary">เพิ่มสินค้า</button></a>


</center>
