<!--
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" style="background-color: black; color: white" >
    ยี่ห้อ
    </a>
    <a href="#" class="list-group-item list-group-item-action">Canon</a>
    <a href="#" class="list-group-item list-group-item-action">Sony</a>
    <a href="#" class="list-group-item list-group-item-action">Olympus</a>
    <a href="#" class="list-group-item list-group-item-action">FujiFilm</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" style="background-color: black; color: white" >
    อุปรกรณ์เสริม
    </a>
    <a href="#" class="list-group-item list-group-item-action">...1</a>
    <a href="#" class="list-group-item list-group-item-action">...2</a>
    <a href="#" class="list-group-item list-group-item-action">...3</a>
    <a href="#" class="list-group-item list-group-item-action">...4</a>
</div>
-->
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" style="background-color: #8B8B8B; color: white" >
    จัดการสินค้า
    </a>
    <a href="/addProduct" class="list-group-item list-group-item-action">เพิ่มสินค้า</a>
    <a href="/listproducts" class="list-group-item list-group-item-action">รายการสินค้า</a>
    <a href="/addTypes" class="list-group-item list-group-item-action">เพิ่มประเภทสินค้า</a>
    <a href="/listTypes" class="list-group-item list-group-item-action">รายการประเภทสินค้า</a>
    <a href="/addBrands" class="list-group-item list-group-item-action">เพิ่มยี่ห้อสินค้า</a>
    <a href="/listBrands" class="list-group-item list-group-item-action">รายการยี่ห้อสินค้า</a>
 <!--   <a href="#" class="list-group-item list-group-item-action" style="background-color: #8B8B8B; color: white" >
    จัดการอุปกรณ์เสริม
    </a>
    <a href="/addTypeAcc" class="list-group-item list-group-item-action">เพิ่มประเภทอุปกรณ์</a>
    <a href="/listTypeAcc" class="list-group-item list-group-item-action">รายการประเภทอุปกรณ์</a>
    <a href="/addAccessory" class="list-group-item list-group-item-action">เพิ่มอุปกรณ์</a>
    <a href="/listAccessory" class="list-group-item list-group-item-action">รายการอุปกรณ์</a>
     -->
    <a href="#" class="list-group-item list-group-item-action" style="background-color: #8B8B8B; color: white" >

    จัดการสมาชิก
    </a>
    <a href="/listMembers" class="list-group-item list-group-item-action">รายชื่อสมาชิก</a>



</div>